* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*top de la pagina*/
body {
    font-family: 'Roboto', sans-serif;
}
.top {
    background-color: #222222;
    color: #F3F3F3;
    display:flex;
    justify-content: space-between;
    height: 20px;
    padding-left: 90px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 10px;
    font-weight: 400;
}
.toplist{
    display:flex;
    padding-right: 50px;
}
.toplist li {
    padding-left: 12px;
}

/*nav*/
header{
    background-color: #F0A83E;
    height:63px;
    display:flex;
    justify-content: space-between; 
    color: #FFFFFF;
}
.logo{
    width: 166,38px;
    height: 23px;
    margin-top: 20px;
    margin-left: 40px;
}
.nav-header{
    display:flex;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 13px;
    font-weight: 54px;
}
.nav-header li {
    padding-left: 20px;
}
.nav-header i {
    padding-right: 4px;
}
/*imagen principal de la pagina*/
.main-comedero {
    background-image: url('/img/principal.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 22px;
    text-align: center;
}
.main-comedero h1{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    color: #3C2313;
    font-size: 30px;
    font-weight: 400px;
    margin-bottom:  12px;
}
.main-comedero p {
    font-size: 16px;
    font-weight: 400px;
    color: #3C2313;
    margin-bottom:  12px;
}
.main-comedero button {
    border-style: none;
    color:#FFFFFF;
    background-color: #F0A83E;
    border-radius: 5px;
    width: 141px;
    height: 49px;
    font-size: 16px;
    font-weight: 95px;
}
/* productos y card*/
.icon{
    color:#F0A83E;
    margin: 30px;
}
.productos-nav {
    display:flex;
    align-items: center;
    flex-direction: column;
}
.productos-nav h2 {
    font-size: 40px;
    font-weight: 700;
    color:#3C2313;
    padding-bottom: 20px;
}
.productos-nav ul{
    display:flex;
}
.productos-nav li{
    padding:7px;
    font-size: 15px;
    font-weight: 400;
    color:#666666;
}
/*productos y CARD*/
.productos-card{
    margin-top: 40px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 265px;
    height: 312px;
    background-color: #FBFAF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.card h3{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #3C2313;
}
.card p{
    text-align: center;
    font-size:15px;
    font-weight:500;
    color: #F0A83E;
}
/*formulario*/
.cont-form{
    width: 340px;
    margin:auto;
}
.cont-form h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color:#3C2313;
    margin-top: 78px;
    margin-bottom: 10px;
}
.campo{
    width: 100%;
    padding: 15px;
    font-size: 9px;
    
    margin: 10px;
    background-color: #3C2313;
    border-radius: 15px;
    border: none;
}
.btn{
    display: flex;
    justify-content: center;
    }
.btn-reset{
    width: 110px;
    padding: 6px;
    border-radius:20px;
    border: none;
    background-color: #888888;
    color:#000000;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}
.btn-enviar{
    width: 110px;
    padding: 6px;
    border-radius:20px;
    border: none;
    background-color: #1CD1B0;
    color:#000000;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}