* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  border: none;
  list-style: none;
  text-decoration: none;
}
/*imagen de fondo*/
body {
  width: 100%;
  background: url(/img/fondo.svg);
  background-repeat: no-repeat;
  background-position: right -20% top -10%;
  padding-top: 80px;
}
main {
  width: 100%;
  background: url(/img/fondo.svg);
  background-repeat: no-repeat;
  background-position: left -70% bottom 30%;
}
/*menu de navegacion*/
header {
  /*agrego barra de navegacion estatica*/
  background-color: #ffffffbd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.menu img {
  width: 120px;
  height: 20px;
}
.menu-nav {
  font-size: 13px;
  font-weight: 500;
  color: #242e52;
  display: flex;
}
.menu-nav li {
  /*no me toma padding: 0px,14px;*/
  padding-left: 14px;
  padding-right: 14px;
}
/*agrego pseudo-clase*/
.active {
  padding: 5px;
  border-radius: 40px;
}
.active:hover {
  /*agrego pseudo-clase*/
  background-color: #f5ae9ce1;
  transition: 0.5s;
}
/*fin pseudo-clase*/
.menu-nav a {
  color: #242e52;
}
button {
  width: 134px;
  height: 44px;
  color: #ffffff;
  font-size: 13px;
  background-color: #f3603b;
  border-radius: 50px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
button:hover {
  /*agrego pseudo-clase*/
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 0px 8px #f3603b9a;
  color: #000000;
  transition: 0.5s;
}
/*agrego menu sandwich triple miga*/

#bar {
  display: none;
}
.barbtn {
  line-height: 40px;
  cursor: pointer;
  float: right;
  line-height: 120px;
  margin-right: 40px;

  display: none;
}
/*main 1*/

.content-main .content-main2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 100px;
}
.main-1 {
  width: 35%;
}
h1 {
  font-size: 58px;
  font-weight: 700;
  color: #232c50;
  line-height: 60px;
  padding-bottom: 28px;
}
.main-1 p {
  width: 350px;
  padding-bottom: 28px;
  font-weight: 500px;
  color: #000000;
}
.main-1 h2 {
  font-size: 36px;
  font-weight: 700;
  color: #232851;
  line-height: 38px;
  padding-bottom: 36px;
}
/*main 2 lista*/

.cont-list {
  width: 45%;
}
.cont-list p {
  width: 550px;
  font-weight: 500;
  color: #b3b2b7;
  padding-left: 90px;
  padding-bottom: 50px;
  line-height: 25px;
  text-align: justify;
}
.main-title {
  display: flex;
  align-items: center;
}
.number {
  width: 68px;
  height: 42px;
  background-color: #f3603b;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
}
.main-list h3 {
  font-weight: 700;
  color: #323851;
  padding-left: 24px;
}
/*seccion de card*/
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title h2 {
  /*seccion titulo*/
  font-size: 39px;
  font-weight: 700;
  color: #242e53;
  padding-top: 140px;
  padding-bottom: 75px;
}
.contenedor-gral {
  width: 100%;
  display: flex;
  padding-bottom: 45px;
}
.card-body {
  padding-left: 10px;
}
.cont-card {
  width: 445px;
  height: 219px;
  background-color: #fafafa;
  text-align: center;
  margin: 10px;
}
.cont-card h3 {
  font-weight: 700;
  color: #3f4868;
  padding: 28px;
}
.cont-card p {
  padding: 0px 21px 40px;
}
.card-body-img {
  border: 5px solid #babec9;
  border-radius: 100%;
  margin-top: -35px;
  width: 80px;
  height: 80px;
}

/*seccion anterior al footer*/
.call {
  background: url(/img/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3613c;
  height: 224px;
  margin-top: 180px;
  width: 100%;
}
.call h2 {
  width: 40%;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
.call button {
  color: #f3603b;
  background-color: #fafafa;
}
.call button:hover {
  color: #ffffff;

  background-color: #fda58f;
  border-radius: 50px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
/*el fin footer*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1e26;
  width: 100%;
  height: 247px;
  color: #ffffff;
}
/*logo e iconos*/
.footer img {
  padding-bottom: 50px;
}
.footer-iconos {
  display: flex;
  justify-content: center;
}
.footer-iconos li {
  padding: 7px;
}
.footer-iconos a {
  color: #ffffff;
}
/*footer nav*/
.footer-nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.footer-nav li {
  padding: 6px;
}
/*footer formulario*/

#enviar {
  width: 63px;
  height: 42px;
}
.email {
  width: 200px;
  height: 44px;
  background-color: #fafafa;
  border-radius: 50px;
}
.email::placeholder {
  /*agrego pseudo-elemento*/
  font-size: 13px;
  font-weight: 500;
  color: #a0a0a0;
  padding-left: 10px;
}

.form p {
  font-size: 13px;
  font-weight: 500;
  color: #8c8c94;
  padding-top: 74px;
}

/*media queris*/
/* @media (max-width: 768px) */

/*@media screen (max-width: 480px) {
  * {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  body {
    background-position: right 120% top -10%;
    padding-top: 160px;
  }
  main {
    background-position: right 120% bottom 200%;
  }

  .barbtn {
    display: block;
  }
  .navbtn {
    display: none;
  }
  .menu-nav {
    display: none;
  }
  .content-main {
    flex-direction: column-reverse;
    align-items: center;
  }

  